page,
.content{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.setText{
	margin-top: 30rpx;
}
.setText .money{
	margin-bottom: 30rpx;
}
.setText .money,
.setText .tip,
.setText .location{
	margin-left: 20rpx;
	margin-right: 20rpx;
}
.setText .money .input{
	height: 80rpx;
	border: 4rpx solid #999999;
	border-radius: 20rpx;
	padding-left: 20rpx;
	overflow: hidden;
}
.setText .tip .textarea{
	width: inherit;
	height: 220rpx;
	border: 4rpx solid #999999;
	border-radius: 20rpx;
	padding: 20rpx;
}
.setText .location{
	padding-top: 30rpx;
	font-size: 32rpx;
	line-height: 60rpx;
	display: flex;
}
.setText .location .image{
	width: 60rpx;
	height: 60rpx;
}
.setText .save{
	margin-top: 100rpx;
}
.setText .save button{
	margin-left: 10%;
	margin-right: 10%;
}